@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.arrow {
  margin: 15px auto;
  display: block;
}

body {
  background: #ece8e8;
}

button {
  border-radius: 20px;
  border: none;
  background-color: #1B83E2;
  height: 48px;
  width: 100%;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 36px;
  transition-duration: 0.3s;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.7;
}

.currency-container {
  text-align: center;
  padding: 10px;
}

.currency-coin {
  color: #777777;
  font-size: 14px;
}

.currency-value {
  color: #1B83E2;
  font-weight: bold;
  font-size: 20px;
}

.container {
  width: 375px;
  margin: 0 auto;
  margin-top: 20px;
}

h1 {
  color: #F4F4F4;
  font-weight: 400;
  text-align: center;
  padding-top: 15px;
}

header {
  background-color: #1B83E2;
  height: 66px;
}

label {
  font-size: 14px;
  color: #777777;
}

main {
  padding: 24px;
  background-color: #E5E5E5;
}

section {
  border: 1px solid #1B83E2;
  border-radius: 4px;
  background-color: #f5f5f5;
}

select {
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 7px;
  height: 48px;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 24px;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding-left: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

input {
  display: block;
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 7px;
  height: 48px;
  width: 100%;
  outline: none;
  margin-top: 6px;
  margin-bottom: 24px;
  padding-left: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 17px;
}